#bannerpic {
	
	float: right;
	margin: 0 0 10px 10px;
	
	border-style: ridge;
	border-width: 10px;
	border-color: #0000ff;
	
	padding: 5px;
	
	box-shadow: 10px 5px 8px;
}
 .floatclear {
 	clear: both;
 }
 
#banner {
	
	margin-left: 25px
}
#aboutmebutton {
	background-color: #4CAF50;
	font-size: 1.5em;
	border-radius: 12px;
	color: #000000
}
