body {
	background-image: url("../images/brownbackmoose.jpg");
	background-repeat: repeat;
}
h1 {
	background-color: #F1F1F1;
}
h2 {
	background-color: #F1F1F1;
}
h3 {
	background-color: #F1F1F1;
}
.steps {
	
}
